// compileExpanded: style.css

//*----------------------------------------*//
//*
//*  関数、定数の定義
//*
//*----------------------------------------*//

//*----------------------------------------*
//*  フォントサイズ設定 (px->rem)
//*----------------------------------------*

@mixin rem($size) {
  font-size: $size + px; /*IE9以前に対応する*/
  font-size: ($size / 16) + rem;
}

//*----------------------------------------*
//*  ブレークポイント設定
//*----------------------------------------*

$breakpoints: (
  "xs": (
    min-width: 375px,
  ),
  "sm": (
    min-width: 560px,
  ),
  "md": (
    min-width: 768px,
  ),
  "lg": (
    min-width: 960px,
  ),
  "xl": (
    min-width: 1024px,
  ),
  "xxl": (
    min-width: 1400px,
  ),
) !default;

//*----------------------------------------*
//*  レスポンシブ設定
//*----------------------------------------*

@mixin responsive($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media screen and #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }

  // マップ型で定義されていない値が呼び出された時はエラーを返す
  @else {
    @error "指定されたブレークポイントは定義されていません。" + "指定できるブレークポイントは次のとおりです。 -> #{map-keys($breakpoints)}";
  }
}

//*----------------------------------------*
//*  カラー定数の設定
//*----------------------------------------*
$colorGray: #333;
$colorBrown: #f7f6f5;
$colorBrown2: #aa8f7b;
$colorWhite: #fff;

//*----------------------------------------*//
//*
//*  全体設定
//*
//*----------------------------------------*//

html {
  font-size: 100%;
}

body {
  background-color: $colorBrown;
  color: $colorGray;
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Hiragino Sans",
    Meiryo, sans-serif;
  font-feature-settings: "palt";
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.sectionWrapper {
  margin: 0 auto;
  max-width: 1500px;
  padding: 30px 20px 39px 20px;
}

.sectionTitle {
  font-weight: 600;
  @include rem(20);
  letter-spacing: .15em;
  margin-bottom: 7px;
  text-align: center;
}

@include responsive(lg) {
  .sectionWrapper {
    padding: 80px 7.33333% 100px;
  }
  .sectionTitle {
    font-weight: 400;
    @include rem(24);
    margin-bottom: 11px;
  }
}

.englishSectionTitle {
  color: $colorBrown2;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  @include rem(14);
  letter-spacing: .05em;
  text-align: center;
}

//*----------------------------------------*//
//*
//*  個別設定
//*
//*----------------------------------------*//

//*----------------------------------------*
//*  hedder
//*----------------------------------------*

.header {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1500px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  z-index: 2;
}

.headerInner {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.open .headerInner {
  flex-direction: column;
  margin: 0 auto;
  max-width: 520px;
  position: fixed;
  width: calc(100% - 40px);
}

.open .header {
  position: fixed;
}

.burgerBtnArea {
  cursor: pointer;
  height: 16px;
  width: 24px;
}
.burgerBtn {
  background-color: $colorGray;
  display: block;
  height: 2px;
  position: absolute;
  right: -5px;
  top: 30px;
  width: 20px;
  &::before, &::after {
    background-color: $colorGray;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    right: 0;
  }
  &::before {
    top: -8px;
    width: 24px;
  }
  &::after {
    top: 8px;
    width: 16px;
  }
}

.open .burgerBtn {
  background-color: rgba(0, 0, 0, 0);
  transition: .3s;
}

.open .burgerBtn::before {
  background-color: $colorWhite;
  opacity: 1;
  transform: translate(0, 8px) rotate(-315deg);
  transition: .3s;
  width: 20px;
}

.open .burgerBtn::after {
  background-color: $colorWhite;
  transform: translate(0, -8px) rotate(315deg);
  transition: .3s;
  width: 20px;
}

.overlay {
  background: #978374;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: .3s;
  width: 100%;
}

.open .overlay {
  display: block;
  height: 100vh;
  opacity: .9;
}

.header__logo--white {
  display: none;
}

.open .header__logo {
  display: none; //q open時ロゴの色変えたい
}

.open .header__logo--white {
  display: inline;
  width: 109px;
}

.headerLogoArea {
  align-items: center;
  display: flex;
  fill: currentColor;
  height: 61px;
}

.headerMenu {
  color: $colorWhite;
  display: none;
  font-weight: bold;
  width: 100%;
  &__item {
    border-top: $colorBrown2 1px solid;
    @include rem(16);
    letter-spacing: .05;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  &__item:not(:last-child) {
    padding-left: 10px;
  }
  &__item:last-child {
    font-size: 0; //ボタン間の隙間をなくす
  }
  &__btn {
    color: $colorWhite;
    display: inline-block;
    font-family: "Quicksand", sans-serif;
    @include rem(15);
    line-height: 60px;
    padding-left: 11px;
    padding-right: 11px;
    text-align: center;
    width: 167.5px;

    &--onlinestore {
      background-color: #24a2b3;
      &::before {
        background-image: url("../img/icon_onlinestore.svg");
        background-position: bottom;
        color: $colorWhite;
        content: "";
        display: inline-block;
        height: 17px;
        margin-right: 10px;
        transform: translateY(2px);
        width: 17px;
      }
    }
    &--contact {
      background-color: $colorBrown2;
      &::before {
        background-image: url("../img/icon_contact.svg");
        background-position: bottom;
        content: "";
        display: inline-block;
        height: 17px;
        margin-right: 13px;
        width: 17px;
      }
    }
  }
}

.arrowIcon {
  &::before, &::after {
    content: "";
  }
  &::before {
    border-top: 1px solid;
    height: 7px;
    transform: rotate(45deg) translate(-3px, -2px);
    width: 7px;
  }
  &::after {
    height: 1px;
    width: 20px;
  }
}

.arrowIcon--menu {
  position: relative;
  &::before, &::after {
    position: absolute;
    right: 0;
    top: 50%;
  }
  &::before {
    border-color: $colorWhite;
  }
  &::after {
    background-color: $colorWhite;
  }
}

.arrowIcon--shop {
  position: relative;
  &::before, &::after {
    position: absolute;
    right: -26px;
    top: 16px;
  }
  &::before {
    border-color: $colorGray;
  }
  &::after {
    background-color: $colorGray;
  }
}

.open .headerMenu {
  display: block;
}

//*  responsive(xl)
@include responsive(xl) {
  .header {
    padding: 0;
  }
  .headerLogoArea {
    padding-left: 40px;
  }
  .burgerBtn, .burgerBtnArea {
    display: none;
  }
  .headerInner {
    align-items: center;
  }
  .headerMenu {
    align-items: center;
    color: $colorGray;
    display: flex;
    justify-content: space-between;
    opacity: 1;
    width: 870px;
    &__item {
      border-top: none;
      padding: 0;
      &:not(:last-child) {
        padding-left: 0;
      }
    }
  }

  .arrowIcon--menu {
    &::before, &::after {
      display: none;
    }
  }
  .headerMenu__btn {
    line-height: 80px;
    width: 195px;
    &--onlinestore {
      width: 193px;
    }
    &--contact {
      width: 177px;
    }
  }
}

//*----------------------------------------*
//*  mainVisual
//*----------------------------------------*
.main {
  // background-color: red;
}

.mainVisual {
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  position: relative;
  &__message {
    color: $colorWhite;
    font-family: "Noto Serif JP", sans-serif;
    font-weight: 500;
    @include rem(24);
    left: -7px;
    letter-spacing: .2em;
    line-height: 36px;
    padding-left: 30px;
    position: absolute;
    text-shadow: 0 0 20px rgba(0, 0, 0, .2);
    top: 91px;
    width: 240px;
    z-index: 1;
  }
}

.slider--parmtop {
  position: relative;
}

.slider--desktop {
  display: none !important;
  position: relative;
}

.slider__img {
  height: 360px; //q_100%で指定できない。
  object-fit: cover;
  object-position: 70% 20%;
  position: relative;
  width: 100%;
}

.slider__item {
  position: relative;
  &::after {
    background-color: rgba(140, 118, 101, .2);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

@include responsive(xs) {
  .slider--parmtop {
    display: none !important;
  }
  .slider--desktop {
    display: block !important;
  }
}
.message--newLine {
  display: block;
}
@include responsive(lg) {
  .mainVisual {
    &__message {
      @include rem(36);
      letter-spacing: .2em;
      padding-left: 7.33333%;
      top: 240px;
      width: 100%;
    }
  }
  .slider__img {
    height: 610px;
    width: 100%;
  }
  .message--newLine {
    display: none;
  }
}
//*----------------------------------------*
//*  news
//*----------------------------------------*
.hp-margin--news {
  margin-bottom: 29px;
}

.newsWrapper {
  background-color: #fcfcfc;
  margin-bottom: -15px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 34px;
  position: relative;
  top: -70px;
  width: 90%;
}

.newsContainer {
  display: flex;
  flex-direction: column;
}

.news {
  &__article {
    margin-bottom: 26px;
    min-width: 220px;
  }
  &__inner {
    display: flex;
    margin-bottom: 9px;
  }
  &__date {
    font-family: "Quicksand", sans-serif;
    @include rem(14);
    letter-spacing: .05em;
    margin-right: 17px;
  }
  &__classification {
    background-color: #24a2b3;
    color: $colorWhite;
    display: inline-block;
    @include rem(11);
    letter-spacing: .15em;
    line-height: 1;
    padding: 4px 10px;
    text-align: center;
    transform: translateY(
      -2px
    ); //q_dateとの上下合わせ。他にいいあわせ方あるか。
  }
  &__details {
    font-weight: 500;
    @include rem(14);
    letter-spacing: .05em;
    line-height: 24px;
  }
}

.detailsBtn {
  border: #000 2px solid;
  cursor: pointer;
  display: block;
  font-weight: bold;
  @include rem(14);
  letter-spacing: .1em;
  line-height: 1;
  margin: 0 auto;
  padding: 17px 0;
  text-align: center;
  width: 220px;
}

@include responsive(lg) {
  .hp-margin--news {
    margin-bottom: 57px;
  }
  .news {
    &__date {
      margin-right: 18spx;
    }
    &__inner {
      margin-bottom: 14px;
    }
    &__article {
      margin-bottom: 47px;
    }
    &__details {
      letter-spacing: .1em;
    }
  }
}

@include responsive(xl) {
  .newsWrapper {
    max-width: 960px;
    padding-bottom: 83px;
    padding-left: 79px;
    padding-right: 79px;
    padding-top: 71px;
    top: -110px;
    width: 64%;
  }
  .newsContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 9px;
  }
  .news {
    &__article {
      width: 46%;
    }
  }
}

//*----------------------------------------*
//*  furniture
//*----------------------------------------*
.hp-margin--furniture {
  height: 57px;
}

.furniture {
  background-color: $colorWhite;
}
.furnitureContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.furnitureContainer:not(:last-of-type) {
  margin-bottom: 60px;
}

.furnitureContainer--3column .furniture__details {
  margin-bottom: 22px;
}

.furniture {
  &__howToFind {
    font-weight: 500;
    @include rem(20);
    letter-spacing: .1em;
    margin-bottom: 17px;
    margin-top: 23px;
  }
  &__details {
    font-weight: 400;
    @include rem(15);
    letter-spacing: .15em;
    line-height: 30px;
    margin-bottom: 52px;
  }
  &__img {
    height: auto;
    width: 100%;
  }
}

@include responsive(sm) {
  .hp-margin--furniture {
    height: 62px;
  }
  .furnitureContainer:not(:last-of-type) {
    margin-bottom: 78px;
  }
  .furnitureWrapper {
    padding: 80px 7.33333%;
  }
  .furnitureTextWrapper .detailsBtn {
    margin-left: 0;
  }
  .furnitureContainer {
    flex-direction: row;
    justify-content: space-between;
  }
  .furnitureContainer:nth-child(even) {
    flex-direction: row-reverse;
  }
  .furnitureTextWrapper {
    width: 47.6%;
  }
  .furnitureContainer--3column .furniture__howToFind {
    @include rem(20);
    margin-bottom: 7px;
  }
  .furnitureContainer--3column .furniture__details {
    margin-bottom: 53px;
  }
  .furnitureContainer--3column .furnitureContainer {
    margin-bottom: 0;
  }
  .furniture {
    &__howToFind {
      @include rem(24);
      margin-top: 44px;
      transform: translateY(-10px);
    }
    &__img {
      width: 47.6%;
    }
  }
}

@include responsive(lg) {
  .furnitureContainer--3column {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
  }
  .furnitureContainer--3column .furnitureContainer {
    flex-direction: column;
    width: 29.7%;
  }
  .furnitureContainer--3column .furnitureTextWrapper {
    width: 100%;
  }
  .furnitureContainer--3column .furniture__img {
    width: 100%;
  }
  .furnitureContainer--3column .detailsBtn {
    margin: 0 auto;
  }
}
//*----------------------------------------*
//*  shop
//*----------------------------------------*

.shop {
  background-color: #f7f6f5;
  &__img {
    height: auto;
    width: 100%;
  }
}

.shop__title {
  font-weight: 500;
  @include rem(20);
  letter-spacing: .1em;
  margin-bottom: 17px;
  margin-top: 22px;
}
.shop__text {
  font-weight: 400;
  @include rem(15);
  letter-spacing: .05em;
  line-height: 2em;
  margin-bottom: 27px;
}
.shop__link {
  display: inline-block;
  font-weight: 700;
  letter-spacing: .05em;
}

.hp-margin--shop {
  margin-bottom: 55px;
}

.shopContainer {
  display: flex;
  flex-direction: column;
}

@include responsive(lg) {
  .hp-margin--shop {
    margin-bottom: 0;
  }
  .shopContainer {
    flex-direction: row;
  }
  .shopContainer:not(:last-of-type) {
    margin-bottom: 61px;
  }
  .shop__title {
    margin-top: -5px;
  }
  .shop__img {
    height: 200px;
    margin-right: 70px;
    width: 375px;
  }
  .shop__text {
    margin-bottom: 47px;
  }
}

//*----------------------------------------*
//*  recruit
//*----------------------------------------*
.hp-margin26 {
  margin-bottom: 26px;
}

.hp-margin--recruit {
  margin-top: 0;
}

.recruit {
  background-image: url(../img/recruit_bg-desktop.jpg);
  background-position: center;
  background-size: cover;
  color: $colorWhite;
  &__detail {
    letter-spacing: .2em;
    line-height: 2em;
    margin-bottom: 17px;
    text-align: center;
  }
}

@include responsive(lg) {
  .recruit {
    &__detail {
      letter-spacing: .26em;
      margin-bottom: 54px;
      padding-top: 15px;
    }
  }
  .hp-margin--recruit {
    margin-top: -7px;
  }
}

.recruit .englishSectionTitle {
  color: $colorWhite;
}

.recruit .detailsBtn {
  border-color: $colorWhite;
}

@include responsive(lg) {
  .recruit {
  }
}

//*----------------------------------------*
//*  footer
//*----------------------------------------*
.footer {
  background-color: #292929;
  color: $colorWhite;

  &__logo {
    margin-bottom: 7px;
    &--large {
      display: none;
    }
  }
  &__navItem {
    padding: 15px 0;
    position: relative;
    &::after {
      background-color: #555;
      bottom: 0;
      content: "";
      display: block;
      height: 1px;
      @include rem(14);
      left: 50%;
      letter-spacing: .05em;
      overflow-x: hidden;
      position: absolute;
      transform: translateX(-50vw);
      width: 100vw;
    }
    &--large {
      @include rem(14);
      letter-spacing: .05em;
      margin-bottom: 26px;
      position: relative;
    }
    &--small {
      @include rem(13);
      letter-spacing: .05em;
      &:nth-of-type(2) {
        padding-bottom: 14px;
      }
      &:last-of-type {
        padding-bottom: 17px;
      }
    }
  }
}

.footerInner {
  display: flex;
  flex-direction: column;
}

.arrowIcon--footer {
  &::before, &::after {
    position: absolute;
    right: 0;
    top: 50%;
  }
  &::before {
    border-color: $colorWhite;
  }
  &::after {
    background-color: $colorWhite;
  }
}

.overview {
  text-align: center;
  &__adress {
    @include rem(14);
    letter-spacing: .05em;
    line-height: 1.9em;
    margin-bottom: 20px;
  }
  &__tel {
    font-family: "Quicksand", sans-serif;
    @include rem(24);
    letter-spacing: .05em;
    line-height: 1em;
    padding-bottom: 27px;
    position: relative;
    &::before {
      content: "TEL.";
      @include rem(20);
      margin-right: 10px;
    }
    &::after {
      background-color: #555;
      bottom: 0;
      content: "";
      display: block;
      height: 1px;
      left: 50%;
      overflow-x: hidden;
      overflow-x: hidden;
      position: absolute;
      transform: translateX(-50vw);
      width: 100vw;
    }
  }
}

.copyRight {
  background-color: #292929;
  color: $colorWhite;
  display: flex;
  flex-direction: column;
  @include rem(12);
  letter-spacing: .05em;
  text-align: center;
  &__text {
    padding-top: 27px;
  }
}

@include responsive(lg) {
  .footer {
    padding-top: 61px;
    &__logo {
      display: none;
      &--large {
        display: block;
        margin-bottom: 24px;
      }
    }
    &__navItem {
      padding-bottom: 15px;
      padding-top: 0;
      &:last-of-type {
        padding-bottom: 0;
      }
      &::after {
        display: none;
      }
      &--large {
        margin-bottom: 12px;
      }
      &--small {
        padding-bottom: 14px;
        padding-left: 10px;
        &:nth-of-type(2) {
          padding-bottom: 9px;
        }
      }
    }
  }
  .footerInner {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 90px;
  }
  .arrowIcon--footer {
    display: none;
  }
  .overview {
    flex: 50 1 auto; //flex-grow:50は親要素の余白を埋める最大幅をとるためで、50に意味はなし
    text-align: left;
    &__tel {
      padding-bottom: 0;
      &::after {
        display: none;
      }
    }
  }
  .footer__navList:first-of-type {
    flex: 0 1 15.2%;
    min-width: 195px;
  }

  .footer__navList:last-of-type {
    flex: 0 1 10.5%;
    min-width: 135px;
  }
  .copyRight {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 0;
    &__text {
      padding-top: 0;
    }
  }
}
