@charset "UTF-8";
/*-------------------------------------------
/* 全体設定
/*------------------------------------------*/
html {
  font-size: 100%;
}

body {
  background-color: #f7f6f5;
  color: #333;
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.sectionWrapper {
  margin: 0 auto;
  max-width: 1500px;
  padding: 30px 20px 39px 20px;
}

.sectionTitle {
  font-weight: 600;
  font-size: 20px;
  /*IE9以前に対応する*/
  font-size: 1.25rem;
  letter-spacing: .15em;
  margin-bottom: 7px;
  text-align: center;
}

@media screen and (min-width: 960px) {
  .sectionWrapper {
    padding: 80px 7.33333% 100px;
  }
  .sectionTitle {
    font-weight: 400;
    font-size: 24px;
    /*IE9以前に対応する*/
    font-size: 1.5rem;
    margin-bottom: 11px;
  }
}

.englishSectionTitle {
  color: #aa8f7b;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 14px;
  /*IE9以前に対応する*/
  font-size: 0.875rem;
  letter-spacing: .05em;
  text-align: center;
}

/*-------------------------------------------
/* header
/*------------------------------------------*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  max-width: 1500px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  z-index: 2;
}

.open .header {
  position: fixed;
}

.headerInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 100%;
}

.open .headerInner {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  max-width: 520px;
  position: fixed;
  width: calc(100% - 40px);
}

.burgerBtnArea {
  cursor: pointer;
  height: 16px;
  width: 24px;
}

.burgerBtn {
  background-color: #333;
  display: block;
  height: 2px;
  position: absolute;
  right: -5px;
  top: 30px;
  width: 20px;
}

.burgerBtn::before, .burgerBtn::after {
  background-color: #333;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  right: 0;
}

.burgerBtn::before {
  top: -8px;
  width: 24px;
}

.burgerBtn::after {
  top: 8px;
  width: 16px;
}

.open .burgerBtn {
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: .3s;
  transition: .3s;
}

.open .burgerBtn::before {
  background-color: #fff;
  opacity: 1;
  -webkit-transform: translate(0, 8px) rotate(-315deg);
          transform: translate(0, 8px) rotate(-315deg);
  -webkit-transition: .3s;
  transition: .3s;
  width: 20px;
}

.open .burgerBtn::after {
  background-color: #fff;
  -webkit-transform: translate(0, -8px) rotate(315deg);
          transform: translate(0, -8px) rotate(315deg);
  -webkit-transition: .3s;
  transition: .3s;
  width: 20px;
}

.overlay {
  background: #978374;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  -webkit-transition: .3s;
  transition: .3s;
  width: 100%;
}

.open .overlay {
  display: block;
  height: 100vh;
  opacity: .9;
}

.header__logo--white {
  display: none;
}

.open .header__logo {
  display: none;
}

.open .header__logo--white {
  display: inline;
  width: 109px;
}

.headerLogoArea {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: currentColor;
  height: 61px;
}

.headerMenu {
  color: #fff;
  display: none;
  font-weight: bold;
  width: 100%;
}

.headerMenu__item {
  border-top: #aa8f7b 1px solid;
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
  letter-spacing: .05;
  padding-bottom: 20px;
  padding-top: 20px;
}

.headerMenu__item:not(:last-child) {
  padding-left: 10px;
}

.headerMenu__item:last-child {
  font-size: 0;
}

.headerMenu__btn {
  color: #fff;
  display: inline-block;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  /*IE9以前に対応する*/
  font-size: 0.9375rem;
  line-height: 60px;
  padding-left: 11px;
  padding-right: 11px;
  text-align: center;
  width: 167.5px;
}

.headerMenu__btn--onlinestore {
  background-color: #24a2b3;
}

.headerMenu__btn--onlinestore::before {
  background-image: url("../img/icon_onlinestore.svg");
  background-position: bottom;
  color: #fff;
  content: "";
  display: inline-block;
  height: 17px;
  margin-right: 10px;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  width: 17px;
}

.headerMenu__btn--contact {
  background-color: #aa8f7b;
}

.headerMenu__btn--contact::before {
  background-image: url("../img/icon_contact.svg");
  background-position: bottom;
  content: "";
  display: inline-block;
  height: 17px;
  margin-right: 13px;
  width: 17px;
}

.arrowIcon::before, .arrowIcon::after {
  content: "";
}

.arrowIcon::before {
  border-top: 1px solid;
  height: 7px;
  -webkit-transform: rotate(45deg) translate(-3px, -2px);
          transform: rotate(45deg) translate(-3px, -2px);
  width: 7px;
}

.arrowIcon::after {
  height: 1px;
  width: 20px;
}

.arrowIcon--menu {
  position: relative;
}

.arrowIcon--menu::before, .arrowIcon--menu::after {
  position: absolute;
  right: 0;
  top: 50%;
}

.arrowIcon--menu::before {
  border-color: #fff;
}

.arrowIcon--menu::after {
  background-color: #fff;
}

.arrowIcon--shop {
  position: relative;
}

.arrowIcon--shop::before, .arrowIcon--shop::after {
  position: absolute;
  right: -26px;
  top: 16px;
}

.arrowIcon--shop::before {
  border-color: #333;
}

.arrowIcon--shop::after {
  background-color: #333;
}

.open .headerMenu {
  display: block;
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 0;
  }
  .headerLogoArea {
    padding-left: 40px;
  }
  .burgerBtn, .burgerBtnArea {
    display: none;
  }
  .headerInner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .headerMenu {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    opacity: 1;
    width: 870px;
  }
  .headerMenu__item {
    border-top: none;
    padding: 0;
  }
  .headerMenu__item:not(:last-child) {
    padding-left: 0;
  }
  .arrowIcon--menu::before, .arrowIcon--menu::after {
    display: none;
  }
  .headerMenu__btn {
    line-height: 80px;
    width: 195px;
  }
  .headerMenu__btn--onlinestore {
    width: 193px;
  }
  .headerMenu__btn--contact {
    width: 177px;
  }
}

/*-------------------------------------------
/* mainvisual
/*------------------------------------------*/
.mainVisual {
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  position: relative;
}

.mainVisual__message {
  color: #fff;
  font-family: "Noto Serif JP", sans-serif;
  font-weight: 500;
  font-size: 24px;
  /*IE9以前に対応する*/
  font-size: 1.5rem;
  left: -7px;
  letter-spacing: .2em;
  line-height: 36px;
  padding-left: 30px;
  position: absolute;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  top: 91px;
  width: 240px;
  z-index: 1;
}

.slider--parmtop {
  position: relative;
}

.slider--desktop {
  display: none !important;
  position: relative;
}

.slider__img {
  height: 360px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 70% 20%;
     object-position: 70% 20%;
  position: relative;
  width: 100%;
}

.slider__item {
  position: relative;
}

.slider__item::after {
  background-color: rgba(140, 118, 101, 0.2);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@media screen and (min-width: 375px) {
  .slider--parmtop {
    display: none !important;
  }
  .slider--desktop {
    display: block !important;
  }
}

.message--newLine {
  display: block;
}

@media screen and (min-width: 960px) {
  .mainVisual__message {
    font-size: 36px;
    /*IE9以前に対応する*/
    font-size: 2.25rem;
    letter-spacing: .2em;
    padding-left: 7.33333%;
    top: 240px;
    width: 100%;
  }
  .slider__img {
    height: 610px;
    width: 100%;
  }
  .message--newLine {
    display: none;
  }
}

/*-------------------------------------------
/* news
/*------------------------------------------*/
.hp-margin--news {
  margin-bottom: 29px;
}

.newsWrapper {
  background-color: #fcfcfc;
  margin-bottom: -15px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 34px;
  position: relative;
  top: -70px;
  width: 90%;
}

.newsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news__article {
  margin-bottom: 26px;
  min-width: 220px;
}

.news__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 9px;
}

.news__date {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  /*IE9以前に対応する*/
  font-size: 0.875rem;
  letter-spacing: .05em;
  margin-right: 17px;
}

.news__classification {
  background-color: #24a2b3;
  color: #fff;
  display: inline-block;
  font-size: 11px;
  /*IE9以前に対応する*/
  font-size: 0.6875rem;
  letter-spacing: .15em;
  line-height: 1;
  padding: 4px 10px;
  text-align: center;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.news__details {
  font-weight: 500;
  font-size: 14px;
  /*IE9以前に対応する*/
  font-size: 0.875rem;
  letter-spacing: .05em;
  line-height: 24px;
}

.detailsBtn {
  border: #000 2px solid;
  cursor: pointer;
  display: block;
  font-weight: bold;
  font-size: 14px;
  /*IE9以前に対応する*/
  font-size: 0.875rem;
  letter-spacing: .1em;
  line-height: 1;
  margin: 0 auto;
  padding: 17px 0;
  text-align: center;
  width: 220px;
}

@media screen and (min-width: 960px) {
  .hp-margin--news {
    margin-bottom: 57px;
  }
  .news__date {
    margin-right: 18spx;
  }
  .news__inner {
    margin-bottom: 14px;
  }
  .news__article {
    margin-bottom: 47px;
  }
  .news__details {
    letter-spacing: .1em;
  }
}

@media screen and (min-width: 1024px) {
  .newsWrapper {
    max-width: 960px;
    padding-bottom: 83px;
    padding-left: 79px;
    padding-right: 79px;
    padding-top: 71px;
    top: -110px;
    width: 64%;
  }
  .newsContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 9px;
  }
  .news__article {
    width: 46%;
  }
}

/*-------------------------------------------
/* furniture
/*------------------------------------------*/
.hp-margin--furniture {
  height: 57px;
}

.furniture {
  background-color: #fff;
}

.furnitureContainer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.furnitureContainer:not(:last-of-type) {
  margin-bottom: 60px;
}

.furnitureContainer--3column .furniture__details {
  margin-bottom: 22px;
}

.furniture__howToFind {
  font-weight: 500;
  font-size: 20px;
  /*IE9以前に対応する*/
  font-size: 1.25rem;
  letter-spacing: .1em;
  margin-bottom: 17px;
  margin-top: 23px;
}

.furniture__details {
  font-weight: 400;
  font-size: 15px;
  /*IE9以前に対応する*/
  font-size: 0.9375rem;
  letter-spacing: .15em;
  line-height: 30px;
  margin-bottom: 52px;
}

.furniture__img {
  height: auto;
  width: 100%;
}

@media screen and (min-width: 560px) {
  .hp-margin--furniture {
    height: 62px;
  }
  .furnitureContainer:not(:last-of-type) {
    margin-bottom: 78px;
  }
  .furnitureWrapper {
    padding: 80px 7.33333%;
  }
  .furnitureTextWrapper .detailsBtn {
    margin-left: 0;
  }
  .furnitureContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .furnitureContainer:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .furnitureTextWrapper {
    width: 47.6%;
  }
  .furnitureContainer--3column .furniture__howToFind {
    font-size: 20px;
    /*IE9以前に対応する*/
    font-size: 1.25rem;
    margin-bottom: 7px;
  }
  .furnitureContainer--3column .furniture__details {
    margin-bottom: 53px;
  }
  .furnitureContainer--3column .furnitureContainer {
    margin-bottom: 0;
  }
  .furniture__howToFind {
    font-size: 24px;
    /*IE9以前に対応する*/
    font-size: 1.5rem;
    margin-top: 44px;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  .furniture__img {
    width: 47.6%;
  }
}

@media screen and (min-width: 960px) {
  .furnitureContainer--3column {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .furnitureContainer--3column .furnitureContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 29.7%;
  }
  .furnitureContainer--3column .furnitureTextWrapper {
    width: 100%;
  }
  .furnitureContainer--3column .furniture__img {
    width: 100%;
  }
  .furnitureContainer--3column .detailsBtn {
    margin: 0 auto;
  }
}

/*-------------------------------------------
/* shop
/*------------------------------------------*/
.shop {
  background-color: #f7f6f5;
}

.shop__img {
  height: auto;
  width: 100%;
}

.shop__title {
  font-weight: 500;
  font-size: 20px;
  /*IE9以前に対応する*/
  font-size: 1.25rem;
  letter-spacing: .1em;
  margin-bottom: 17px;
  margin-top: 22px;
}

.shop__text {
  font-weight: 400;
  font-size: 15px;
  /*IE9以前に対応する*/
  font-size: 0.9375rem;
  letter-spacing: .05em;
  line-height: 2em;
  margin-bottom: 27px;
}

.shop__link {
  display: inline-block;
  font-weight: 700;
  letter-spacing: .05em;
}

.hp-margin--shop {
  margin-bottom: 55px;
}

.shopContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 960px) {
  .hp-margin--shop {
    margin-bottom: 0;
  }
  .shopContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .shopContainer:not(:last-of-type) {
    margin-bottom: 61px;
  }
  .shop__title {
    margin-top: -5px;
  }
  .shop__img {
    height: 200px;
    margin-right: 70px;
    width: 375px;
  }
  .shop__text {
    margin-bottom: 47px;
  }
}

/*-------------------------------------------
/* recruit
/*------------------------------------------*/
.hp-margin26 {
  margin-bottom: 26px;
}

.hp-margin--recruit {
  margin-top: 0;
}

.recruit {
  background-image: url(../img/recruit_bg-desktop.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;
}

.recruit__detail {
  letter-spacing: .2em;
  line-height: 2em;
  margin-bottom: 17px;
  text-align: center;
}

.recruit .englishSectionTitle {
  color: #fff;
}

.recruit .detailsBtn {
  border-color: #fff;
}

@media screen and (min-width: 960px) {
  .recruit__detail {
    letter-spacing: .26em;
    margin-bottom: 54px;
    padding-top: 15px;
  }
  .hp-margin--recruit {
    margin-top: -7px;
  }
}

/*-------------------------------------------
/* footer
/*------------------------------------------*/
.footer {
  background-color: #292929;
  color: #fff;
}

.footer__logo {
  margin-bottom: 7px;
}

.footer__logo--large {
  display: none;
}

.footer__navItem {
  padding: 15px 0;
  position: relative;
}

.footer__navItem::after {
  background-color: #555;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  font-size: 14px;
  /*IE9以前に対応する*/
  font-size: 0.875rem;
  left: 50%;
  letter-spacing: .05em;
  overflow-x: hidden;
  position: absolute;
  -webkit-transform: translateX(-50vw);
          transform: translateX(-50vw);
  width: 100vw;
}

.footer__navItem--large {
  font-size: 14px;
  /*IE9以前に対応する*/
  font-size: 0.875rem;
  letter-spacing: .05em;
  margin-bottom: 26px;
  position: relative;
}

.footer__navItem--small {
  font-size: 13px;
  /*IE9以前に対応する*/
  font-size: 0.8125rem;
  letter-spacing: .05em;
}

.footer__navItem--small:nth-of-type(2) {
  padding-bottom: 14px;
}

.footer__navItem--small:last-of-type {
  padding-bottom: 17px;
}

.footerInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.arrowIcon--footer::before, .arrowIcon--footer::after {
  position: absolute;
  right: 0;
  top: 50%;
}

.arrowIcon--footer::before {
  border-color: #fff;
}

.arrowIcon--footer::after {
  background-color: #fff;
}

.overview {
  text-align: center;
}

.overview__adress {
  font-size: 14px;
  /*IE9以前に対応する*/
  font-size: 0.875rem;
  letter-spacing: .05em;
  line-height: 1.9em;
  margin-bottom: 20px;
}

.overview__tel {
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  /*IE9以前に対応する*/
  font-size: 1.5rem;
  letter-spacing: .05em;
  line-height: 1em;
  padding-bottom: 27px;
  position: relative;
}

.overview__tel::before {
  content: "TEL.";
  font-size: 20px;
  /*IE9以前に対応する*/
  font-size: 1.25rem;
  margin-right: 10px;
}

.overview__tel::after {
  background-color: #555;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  overflow-x: hidden;
  overflow-x: hidden;
  position: absolute;
  -webkit-transform: translateX(-50vw);
          transform: translateX(-50vw);
  width: 100vw;
}

.copyRight {
  background-color: #292929;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
  /*IE9以前に対応する*/
  font-size: 0.75rem;
  letter-spacing: .05em;
  text-align: center;
}

.copyRight__text {
  padding-top: 27px;
}

@media screen and (min-width: 960px) {
  .footer {
    padding-top: 61px;
  }
  .footer__logo {
    display: none;
  }
  .footer__logo--large {
    display: block;
    margin-bottom: 24px;
  }
  .footer__navItem {
    padding-bottom: 15px;
    padding-top: 0;
  }
  .footer__navItem:last-of-type {
    padding-bottom: 0;
  }
  .footer__navItem::after {
    display: none;
  }
  .footer__navItem--large {
    margin-bottom: 12px;
  }
  .footer__navItem--small {
    padding-bottom: 14px;
    padding-left: 10px;
  }
  .footer__navItem--small:nth-of-type(2) {
    padding-bottom: 9px;
  }
  .footerInner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 90px;
  }
  .arrowIcon--footer {
    display: none;
  }
  .overview {
    -webkit-box-flex: 50;
        -ms-flex: 50 1 auto;
            flex: 50 1 auto;
    text-align: left;
  }
  .overview__tel {
    padding-bottom: 0;
  }
  .overview__tel::after {
    display: none;
  }
  .footer__navList:first-of-type {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 15.2%;
            flex: 0 1 15.2%;
    min-width: 195px;
  }
  .footer__navList:last-of-type {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 10.5%;
            flex: 0 1 10.5%;
    min-width: 135px;
  }
  .copyRight {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 0;
  }
  .copyRight__text {
    padding-top: 0;
  }
}
/*# sourceMappingURL=style.css.map */